<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome icons -->
    <script
      src="https://kit.fontawesome.com/55acaa2810.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <script src="/scripts/lib/bootstrap.bundle.min.js" defer></script>
    <title>ACK St. Faith</title>
  </head>
  <body>
    <!-- Nav section -->
    <nav class="navbar navbar-light bg-light sticky-top py-3">
      <div class="container-fluid">
        <a class="navbar-brand ack-name" href="/">
          <i
            class="fa fa-car text-primary"
            aria-hidden="true"
            width="30"
            height="24"
          ></i>
          ACK St. Faith Church
        </a>
        <div class="d-flex align-items-center">
          <a class="btn btn-nav" href="#give" role="button ">Give</a>
          <a
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <i class="fas fa-bars px-3 text-dark"></i>
          </a>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="container">
              <form class="d-flex">
                <input
                  class="form-control me-2 active"
                  type="search"
                  placeholder="Search Sermon"
                  aria-label="Search"
                />
                <button class="btn btn-outline-dark" type="submit">
                  Search
                </button>
              </form>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sermons">Blog / Sermons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/signin">Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Estate Fellowships</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#ministries">Our Ministries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contacts">Contacts</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- body -->
    <main><%- body -%></main>
    <!-- footer -->
    <footer class="footer bg-dark">
      <div class="container p-3">
        <p class="mb-1 text-muted text-center">
          &copy; 2022 ACK St. Faith Church. All rights reserved.
        </p>
        <p class="mb-0 text-muted text-center">
          Site by <span class="orange">Eric & Presidens NBO</span>
        </p>
      </div>
    </footer>
  </body>
</html>
